Data/Backup/
Data/Cache/
Data/Index/
Data/Installed Packages/
Data/Local/
Data/KEEPME

# the file in the User directory is to be added manually
Data/Packages/

*.py
*.zip
Package Control.cache/
SublimeLinter/
FileHistory*
*.bak
oscrypto-ca-bundle.crt
*.tmTheme
encoding_cache.json
*.merged-ca-bundle
*.user-ca-bundle
*.last-run